@model LigaTabajara.Models.EstatisticaJogo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>EstatisticaJogo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Jogador.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jogador.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Partida.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Partida.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gols)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gols)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
