@* Views/Time/Delete.cshtml *@
@model LigaTabajara.Models.Time

@{
    ViewBag.Title = "Excluir Time";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-center mt-5">
    <div class="card shadow-sm w-100" style="max-width:600px;">
        <div class="card-header bg-danger text-white">
            <h4 class="mb-0">Confirmar Exclusão</h4>
        </div>
        <div class="card-body">
            <dl class="row mb-4">
                <dt class="col-sm-4">@Html.DisplayNameFor(m => m.Nome)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(m => m.Nome)</dd>

                <dt class="col-sm-4">@Html.DisplayNameFor(m => m.Cidade)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(m => m.Cidade)</dd>

                <dt class="col-sm-4">@Html.DisplayNameFor(m => m.Estado)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(m => m.Estado)</dd>

                <dt class="col-sm-4">@Html.DisplayNameFor(m => m.DataFundacao)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(m => m.DataFundacao)</dd>

                <dt class="col-sm-4">@Html.DisplayNameFor(m => m.Estadio)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(m => m.Estadio)</dd>

                <dt class="col-sm-4">@Html.DisplayNameFor(m => m.CapacidadeEstadio)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(m => m.CapacidadeEstadio)</dd>

                <dt class="col-sm-4">@Html.DisplayNameFor(m => m.CorUniformePrimario)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(m => m.CorUniformePrimario)</dd>

                <dt class="col-sm-4">@Html.DisplayNameFor(m => m.CorUniformeSecuntario)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(m => m.CorUniformeSecuntario)</dd>

                <dt class="col-sm-4">@Html.DisplayNameFor(m => m.StatusTime)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(m => m.StatusTime)</dd>
            </dl>

            @using (Html.BeginForm("Delete", "Time", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.Id)

                <div class="card-footer bg-light d-flex justify-content-between">
                    @Html.ActionLink("← Voltar", "Index", null, new { @class = "btn btn-outline-secondary" })
                    <button type="submit" class="btn btn-danger">Excluir Time</button>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
