@model LigaTabajara.Models.Partida

@{
    ViewBag.Title = "Editar Partida";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-center mt-5">
    <div class="card shadow-sm w-100" style="max-width:600px;">
        <div class="card-header bg-success text-white">
            <h4 class="mb-0">Editar Partida</h4>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("Edit", "Partidas", FormMethod.Post, new { @class = "m-3" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.Id)
                @Html.ValidationSummary(true, "", new { @class = "text-danger mb-3" })

                <div class="mb-3">
                    @Html.LabelFor(m => m.DataPartida, "Data da Partida", new { @class = "form-label fw-bold" })
                    @Html.EditorFor(m => m.DataPartida, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                    @Html.ValidationMessageFor(m => m.DataPartida, "", new { @class = "text-danger" })
                </div>

                <div class="mb-3">
                    @Html.LabelFor(model => model.TimeMandanteId, "Time Mandante", new { @class = "form-label fw-bold" })
                    @Html.DropDownList("TimeMandanteId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TimeMandanteId, "", new { @class = "text-danger" })
                </div>

                <div class="mb-3">
                    @Html.LabelFor(model => model.TimeVisitanteId, "Time Visitante", new { @class = "form-label fw-bold" })
                    @Html.DropDownList("TimeVisitanteId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TimeVisitanteId, "", new { @class = "text-danger" })
                </div>

                <div class="row">
                    <div class="col-6 mb-3">
                        @Html.LabelFor(m => m.GolsMandante, "Gols Mandante", new { @class = "form-label fw-bold" })
                        @Html.EditorFor(m => m.GolsMandante, new { htmlAttributes = new { @class = "form-control", type = "number", min = "0" } })
                        @Html.ValidationMessageFor(m => m.GolsMandante, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-6 mb-3">
                        @Html.LabelFor(m => m.GolsVisitante, "Gols Visitante", new { @class = "form-label fw-bold" })
                        @Html.EditorFor(m => m.GolsVisitante, new { htmlAttributes = new { @class = "form-control", type = "number", min = "0" } })
                        @Html.ValidationMessageFor(m => m.GolsVisitante, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="card-footer bg-light d-flex justify-content-between">
                    @Html.ActionLink("← Voltar", "Index", null, new { @class = "btn btn-outline-secondary" })
                    <button type="submit" class="btn btn-success">Salvar Alterações</button>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
